name: EC2 Instance Selector CI and Release

on: [push, pull_request, workflow_dispatch]

permissions:
  id-token: write

env:
  GITHUB_USERNAME: ${{ secrets.EC2_BOT_GITHUB_USERNAME }}
  GITHUB_TOKEN: ${{ secrets.EC2_BOT_GITHUB_TOKEN }}
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:

  buildAndTest:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        check-latest: true
        cache-dependency-path: '**/go.sum'

    - name: Unit Tests
      run: make unit-test
    
    - name: Lints
      run: make spellcheck shellcheck
    
    - name: Brew Sync Dry run
      run: make homebrew-sync-dry-run

    - name: License Test
      run: make license-test

    - name: Build Binaries
      run: make build-binaries

    - name: Build Docker Images
      run: make build-docker-images
  
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      if: ${{ github.event_name == 'push' && !contains(github.ref, 'dependabot') }}
      with:
        role-to-assume: ${{ secrets.WF_ROLE_ARN }}
        role-session-name: "selector-build-test-${{ github.run_id }}"
        aws-region: us-east-1

    - name: Integration Tests
      if: ${{ github.event_name == 'push' && !contains(github.ref, 'dependabot') }}
      run: make integ-test

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [buildAndTest]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
        check-latest: true
        cache-dependency-path: '**/go.sum'
    
    - name: Release Assets
      run: make release
    
    - name: Sync to Homebrew
      run: make homebrew-sync
